<div class="container">
  <form id="form">
    <div class="mb-3">
      <div id="welcome-lines">
        <div id="welcome-line-1">Alarma</div>
        <div id="welcome-line-2">Bienvenido, alarma de robo</div>
      </div>
      <div class="mb-3">
        <div class="form-inp">
          <input placeholder="Correo" type="text" />
        </div>
        <div class="form-inp">
          <input placeholder="Constraseña" type="password" />
        </div>
      </div>
      <div>
        <button id="submit-button" type="submit">Acceder</button>
      </div>
    </div>
  </form>
</div>
